.container {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 40px 1fr;
    grid-auto-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "logo blank-header blank-header blank-header blank-header" "login slide slide slide sidebar";
}

@media (min-width: 900px) {
    .container {
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-rows: 40px 1fr;
        grid-auto-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "logo blank-header blank-header blank-header login" "slide slide slide slide sidebar";
    }
}

.logo {
    gid-area: logo;
}

.blank-header {
    grid-area: blank-header;
}

.login {
    grid-area: login;
}

.slide {
    grid-area: slide;
}

.sidebar {
    grid-area: sidebar;
}
